body{
    margin: 0;

}
/*Grid start*/
.grid{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1 section1"
        "section2 section2"
        "section3 section4"
        "section5 section6"
        "section7 section7"
        "section8 section8"
        "section9 section10"
        "section11 section12"
        "section13 section14"
        "section15 section16"
        "section17 section18"
        "section19 section19"
;
}
.section1{
    grid-area: section1;
    height: 3em;
    width: 100%;
    background-color: #3f9dd5;
    margin-bottom: 1px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
#logoTop{
    position: absolute;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 1.2em;
    font-size: 12px;
    margin-left: 2em;
}
#contactInfo{
    display: inline-flex;
    padding-right: 20px;
    color: white;
    margin-top: 1.5em;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.contactInfo{
    display: block;
    height: 3em;
    width: 100%;
    text-align: center;
}
#icons{
    color: white;
    padding: 10px;
}
.section2{
    grid-area: section2;
    background-color: #3f9dd5 ;
}
#logo{
    height: 15em;
}
.logo{
    position: absolute;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
.item{
    height: 100vh;
    width: 100vw;
}
.overlayFilter{
  top: 0px;
  left: 0px;
  height: 100%;
  width: 1600px;
  opacity: 0.2;
}
.heading{
    position: absolute;
    width: 100%;
    z-index: 100;
}
#learn{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-align: center;
    font-size: 4em;
    margin-top: 6em;
}
.owl-dots{
    display: none;
}
.section3{
    grid-area: section3;
    height: 35em;
    background-color: #ffffff;
}
.stock1{
    height: 35em;
}
#stock1{
    display: block;
    width: 60vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section4{
    grid-area: section4;
    height: 35em;
    background-color: #fff; 
}
#whiteHut{
    color: grey;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 3em;
    margin-left: 1em;
}
#whiteHutText{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    margin-right: 5em;
    margin-left: 2em;
}
.section5{
    grid-area: section5;
    height: 35em;
    background-color: #f9eb71;
    background-image: url(../assets/images/surfBoards.png);
    background-position: center;
    background-size: cover;
}
.section6{
    grid-area: section6;
    height: 35em;
    background-color: #f9eb71;
}
.blue{
    color: #3f9dd5;
}
.section7{
    grid-area: section7;
    height: 35em;
    background: linear-gradient(rgba(29, 115, 124, 0.80), rgba(29, 115, 124, 0.80)), url(../assets/images/sectionSurfers.png);
    background-position: center;
    background-size: cover;
}
.summerCamps{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    float: right;
    margin-right: 16em;
}
.nested{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        ". section1Nest"
        ;
}
.section1Nest{
    grid-area: section1Nest;
    color: white;
    height: 35em;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 3em;
    margin-left: 2em;
}
#privateText{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-right: 5em;
    
    
}
.green{
 color: #cddf9d;
}
.section8{
    grid-area: section8;
    height: 30em;
    background: linear-gradient(rgba(29, 115, 124, 0.70), rgba(29, 115, 124, 0.70)), url(../assets/images/sectionSand.png);
    background-position: center;
    background-size: cover;
}
.section9{
    grid-area: section9;
    height: 30em;
    background-color: teal;
}
.section10{
    grid-area: section10;
    height: 30em;
    background-color: lightblue;
}
.section11{
    grid-area: section11;
    height: 30em;
    background-color: magenta;
}
.section12{
    grid-area: section12;
    height: 30em;
    background-color: coral;
}
.section13{
    grid-area: section13;
    height: 30em;
    background-color: magenta;
}
.section14{
    grid-area: section14;
    height: 30em;
    background-color: black;
}
.section15{
    grid-area: section15;
    height: 30em;
    background-color: salmon;
}
.section16{
    grid-area: section16;
    height: 30em;
    background-color: cadetblue;
}
.section17{
    grid-area: section17;
    height: 30em;
    background-color: darkgrey;
}
.section18{
    grid-area: section18;
    height: 30em;
    background-color: sienna;
}
.section19{
    grid-area: section19;
    height: 30em;
    background-color: darkblue;
}

@media only screen and (max-width: 750px) {
    .grid{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1 section1"
        "section2 section2"
        "section3 section3"
        "section4 section4"
        "section5 section5"
        "section6 section6"
        "section7 section7"
        "section8 section8"
        "section9 section9"
        "section10 section10"
        "section11 section11"
        "section12 section12"
        "section13 section13"
        "section14 section14"
        "section15 section15"
        "section16 section16"
        "section17 section17"
        "section18 section18"
        "section19 section19";
}
    .section1{
        height: 6em;
    }
    #logoTop{
        display: none;
    }
    .summerCamps{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    margin:auto;
    margin-top: 2em;
    padding: 3em;
    text-align: center;
}
  
    .nested{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1Nest section1Nest"
        ;
        text-align: center;
}
    #privateText{
        text-align: center;
        padding: 3em;
        margin: auto;
    }
}
@media only screen and (max-width: 450px) {
    .grid{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1 section1"
        "section2 section2"
        "section3 section3"
        "section4 section4"
        "section5 section5"
        "section6 section6"
        "section7 section7"
        "section8 section8"
        "section9 section9"
        "section10 section10"
        "section11 section11"
        "section12 section12"
        "section13 section13"
        "section14 section14"
        "section15 section15"
        "section16 section16"
        "section17 section17"
        "section18 section18"
        "section19 section19";
}
    
    #icons{
        display: none;
    }
    #logoTop{
        display: none;
    }
    .section4{
        height: 50em;
        text-align: center;
    }
    #whiteHut{
        margin: 2em;
    }
    #whiteHutText{
        margin: 2em;
    }
    .section6{
       height: 50em; 
        text-align: center;
    }
    .section7{
        height: 60em;
        text-align: cetner;
    }
    .hamburger-button {
    
	position: absolute;
	transition: .3s ease-in-out;
	width: 5px;
	height: 34px;
	display: block;
	top: 7rem;
	right: 7rem;
	z-index: 100000;
}
}




/* Hamburger button styles. */
.hamburger-button {
    
	position: absolute;
    margin-right: 4.5em;
	transition: .3s ease-in-out;
	width: 35px;
	height: 34px;
	display: block;
	top: 7rem;
	right: 7rem;
	z-index: 100000;
}

	.hamburger-button span {
		position: absolute;
		height: 4px;
		border-radius: 20px;
		width: 100%;
		background-color: #fff;
		top: 0;
		transition: transform .2s ease-in-out, opacity .2s ease-in-out;
	}

		.hamburger-button span:nth-child(1) {
			top: 0px;
		}

		.hamburger-button span:nth-child(2),
		.hamburger-button span:nth-child(3) {
			top: 13px;
		}

		.hamburger-button span:nth-child(4) {
			top: 26px;
		}

	    .hamburger-button.active span {
		background-color: #FFF;
	}

		.hamburger-button.active span:nth-child(1),
		.hamburger-button.active span:nth-child(4) {
			opacity: 0;
		}

		.hamburger-button.active span:nth-child(2) {
			transform: rotate(45deg);
		}

		.hamburger-button.active span:nth-child(3) {
			transform: rotate(-45deg);
		}

/* 1. Style the overlay & navigation. */
.overlay {
	position: fixed;
	background: #3f9dd5;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s, height .3s;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 10000;
}

nav {
	font-size: 2rem;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		nav ul li {
			opacity: 0;
			margin: 1rem 0;
		}

			nav ul li a {
				color: #FFF;
				text-decoration: none;
				transition: opacity .2s ease;
				opacity: .75;
			}

				nav ul li a:hover {
					opacity: 1;
				}

/* 2. Add the animation. */
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-25%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 3. Style the visible overlay. */
.overlay.visible {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

	.overlay.visible li {
		animation: fadeInLeft .3s ease forwards;
	}

		.overlay.visible li:nth-of-type(1) {
			animation-delay: 0.23s;
		}

		.overlay.visible li:nth-of-type(2) {
			animation-delay: 0.26s;
		}

		.overlay.visible li:nth-of-type(3) {
			animation-delay: 0.29s;
		}

		.overlay.visible li:nth-of-type(4) {
			animation-delay: 0.32s;
		}

		.overlay.visible li:nth-of-type(5) {
			animation-delay: 0.35s;
		}

a{
    cursor: pointer;
}
